.navBarContainer{
    background-color: aquamarine;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    /* max-height: 30px; */
}
.navBarMenus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:1em;
    margin: 0 2%;
    padding: 2%;
}

